
VR.PY
__pycache__/BotButtons.cpython-39.pyc
__pycache__/BotShortener.cpython-39.pyc
__pycache__/BotSongDownloader.cpython-39.pyc
__pycache__/BotToken.cpython-39.pyc
__pycache__/QrCoder.cpython-39.pyc
__pycache__/QrDecoder.cpython-39.pyc
